In [15]:
from glob import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

expected_sales, the_number_of_shops = glob('expected_sales/*.csv'), glob('the_number_of_shops/*.csv')
expected_sales, the_number_of_shops

(['expected_sales\\expected_sales_2019.csv',
  'expected_sales\\expected_sales_2020.csv',
  'expected_sales\\expected_sales_2021.csv',
  'expected_sales\\expected_sales_2022.csv',
  'expected_sales\\expected_sales_2023.csv',
  'expected_sales\\expected_sales_2024.csv'],
 ['the_number_of_shops\\the_number_of_shops_2019.csv',
  'the_number_of_shops\\the_number_of_shops_2020.csv',
  'the_number_of_shops\\the_number_of_shops_2021.csv',
  'the_number_of_shops\\the_number_of_shops_2022.csv',
  'the_number_of_shops\\the_number_of_shops_2023.csv',
  'the_number_of_shops\\the_number_of_shops_2024.csv'])

In [9]:
df1 = pd.concat(pd.read_csv(i) for i in expected_sales)
df2 = pd.concat(pd.read_csv(i) for i in the_number_of_shops)
df1.shape, df2.shape

((512626, 55), (1831925, 14))

In [20]:
df = df1.merge(
    df2,
    how = 'inner',
    on = ['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명'] 
)
print(df.shape)
df.head(20)

(512626, 65)

,기준_년분기_코드,상권_구분_코드_x,상권_구분_코드_명,상권_코드_x,상권_코드_명,서비스_업종_코드_x,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,...,상권_구분_코드_y,상권_코드_y,서비스_업종_코드_y,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,20191,A,골목상권,3110001,이북5도청사,CS100001,한식음식점,400266580,10981,234853786,...,A,3110001,CS100001,11,11,0,0,9,1,0
1,20191,A,골목상권,3110001,이북5도청사,CS100008,분식전문점,52654409,4197,39028949,...,A,3110001,CS100008,3,3,0,0,0,0,0
2,20191,A,골목상권,3110001,이북5도청사,CS100009,호프-간이주점,6501771,239,3808940,...,A,3110001,CS100009,2,3,0,0,0,0,1
3,20191,A,골목상권,3110001,이북5도청사,CS200001,일반교습학원,28404163,112,28404163,...,A,3110001,CS200001,3,3,0,0,0,0,0
4,20191,A,골목상권,3110001,이북5도청사,CS300002,편의점,183559970,27266,126211816,...,A,3110001,CS300002,1,3,0,0,0,0,2
5,20191,A,골목상권,3110002,독립문역 1번,CS100001,한식음식점,495694870,22262,342119884,...,A,3110002,CS100001,7,7,0,0,0,0,0
6,20191,A,골목상권,3110002,독립문역 1번,CS100005,제과점,192746906,18441,154835060,...,A,3110002,CS100005,2,4,25,1,25,1,2
7,20191,A,골목상권,3110002,독립문역 1번,CS200001,일반교습학원,483389682,1437,301531985,...,A,3110002,CS200001,7,7,0,0,14,1,0
8,20191,A,골목상권,3110002,독립문역 1번,CS200028,미용실,29361905,1230,22677895,...,A,3110002,CS200028,3,3,0,0,0,0,0
9,20191,A,골목상권,3110003,세검정초등학교,CS100001,한식음식점,162785571,4122,111690915,...,A,3110003,CS100001,5,5,20,1,20,1,0
10,20191,A,골목상권,3110003,세검정초등학교,CS100009,호프-간이주점,145510107,2618,103924608,...,A,3110003,CS100009,10,10,30,3,0,0,0
11,20191,A,골목상권,3110003,세검정초등학교,CS100010,커피-음료,20434903,2166,13400650,...,A,3110003,CS100010,4,4,0,0,0,0,0
12,20191,A,골목상권,3110003,세검정초등학교,CS200001,일반교습학원,31430995,124,28452911,...,A,3110003,CS200001,13,14,7,1,0,0,1
13,20191,A,골목상권,3110003,세검정초등학교,CS200003,예술학원,1714286,22,1714286,...,A,3110003,CS200003,6,6,0,0,0,0,0
14,20191,A,골목상권,3110003,세검정초등학교,CS200005,스포츠 강습,39101620,279,39101620,...,A,3110003,CS200005,3,3,0,0,0,0,0
15,20191,A,골목상권,3110003,세검정초등학교,CS200028,미용실,48139381,472,40379572,...,A,3110003,CS200028,6,6,0,0,0,0,0
16,20191,A,골목상권,3110003,세검정초등학교,CS200031,세탁소,1845794,58,1098130,...,A,3110003,CS200031,2,3,0,0,0,0,1
17,20191,A,골목상권,3110003,세검정초등학교,CS300011,일반의류,62066249,154,61649249,...,A,3110003,CS300011,10,10,0,0,0,0,0
18,20191,A,골목상권,3110004,대신고등학교,CS100001,한식음식점,356175497,5402,171292660,...,A,3110004,CS100001,6,6,0,0,33,2,0
19,20191,A,골목상권,3110004,대신고등학교,CS200028,미용실,22838534,1009,17211188,...,A,3110004,CS200028,3,3,0,0,0,0,0

In [21]:
df = df[df.columns[~df.columns.str.contains('건수|_y')]]
df.drop(columns = ['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명', '당월_매출_금액', '주중_매출_금액', '주말_매출_금액'], inplace = True)
df['폐업_률'] = np.round(df['폐업_점포_수']/df['점포_수'], 4)
df.head(20)

,기준_년분기_코드,상권_구분_코드_x,상권_코드_x,서비스_업종_코드_x,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,...,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,20191,A,3110001,CS100001,41479215,45920024,44131221,46404825,56918501,78130644,...,69894373,103530283,119236791,11,11,0,0,0.0909,1,0
1,20191,A,3110001,CS100008,6028733,8637526,6223319,9396634,8742737,6045703,...,15321286,12750958,4930234,3,3,0,0,0.0000,0,0
2,20191,A,3110001,CS100009,814936,779504,885800,1195830,132870,425184,...,2338511,611202,1337558,2,3,0,0,0.0000,0,1
3,20191,A,3110001,CS200001,3244029,5190448,10384873,4840172,4744641,0,...,25808939,0,0,3,3,0,0,0.0000,0,0
4,20191,A,3110001,CS300002,21212261,24940035,25875696,24814983,29368841,30810502,...,50226931,41660905,18910199,1,3,0,0,0.0000,0,2
5,20191,A,3110002,CS100001,58894799,68919024,71024051,65275742,78006268,97225951,...,108104025,125561537,132974212,7,7,0,0,0.0000,0,0
6,20191,A,3110002,CS100005,75616517,17635987,20284756,20333169,20964631,20410163,...,41235524,29830143,14506643,2,4,25,1,0.5000,1,2
7,20191,A,3110002,CS200001,62787200,40725656,72752240,68739705,56527184,112420345,...,325322770,151280085,0,7,7,0,0,0.1429,1,0
8,20191,A,3110002,CS200028,4108786,4405371,4347501,5208321,4607916,6163178,...,8017163,7358390,1148660,3,3,0,0,0.0000,0,0
9,20191,A,3110003,CS100001,20696724,18274634,17630883,25401327,29687347,37103562,...,23103785,46833157,34353214,5,5,20,1,0.2000,1,0
10,20191,A,3110003,CS100009,12777726,38097816,11709643,29498768,11840655,23135537,...,20360750,20924794,17578018,10,10,30,3,0.0000,0,0
11,20191,A,3110003,CS100010,4229046,3603661,2433586,3134357,0,3531460,...,2398980,2397462,1954946,4,4,0,0,0.0000,0,0
12,20191,A,3110003,CS200001,576403,2882018,14933783,1537076,8523631,720504,...,29557685,0,1873310,13,14,7,1,0.0000,0,1
13,20191,A,3110003,CS200003,0,0,0,857143,857143,0,...,0,857143,0,6,6,0,0,0.0000,0,0
14,20191,A,3110003,CS200005,4771723,6494845,15110457,3181148,9543447,0,...,20014728,0,0,3,3,0,0,0.0000,0,0
15,20191,A,3110003,CS200028,1356538,1755775,15929007,761171,20577081,7299976,...,32489090,9281237,4374921,6,6,0,0,0.0000,0,0
16,20191,A,3110003,CS200031,210280,0,0,887850,0,747664,...,0,794392,0,2,3,0,0,0.0000,0,1
17,20191,A,3110003,CS300011,53098000,3269249,5282000,0,0,0,...,278000,3269249,5699000,10,10,0,0,0.0000,0,0
18,20191,A,3110004,CS100001,15408028,29252835,41626703,29875849,55129245,105995951,...,77820989,71488684,103960173,6,6,0,0,0.3333,2,0
19,20191,A,3110004,CS200028,6710345,1974880,2834910,2633173,3057880,3312702,...,8557813,4406319,637059,3,3,0,0,0.0000,0,0

In [24]:
df.shape

(512626, 32)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512626 entries, 0 to 512625
Data columns (total 32 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년분기_코드        512626 non-null  int64
 1   상권_구분_코드_x       512626 non-null  object
 2   상권_코드_x          512626 non-null  int64
 3   서비스_업종_코드_x      512626 non-null  object
 4   월요일_매출_금액        512626 non-null  int64
 5   화요일_매출_금액        512626 non-null  int64
 6   수요일_매출_금액        512626 non-null  int64
 7   목요일_매출_금액        512626 non-null  int64
 8   금요일_매출_금액        512626 non-null  int64
 9   토요일_매출_금액        512626 non-null  int64
 10  일요일_매출_금액        512626 non-null  int64
 11  시간대_00~06_매출_금액  512626 non-null  int64
 12  시간대_06~11_매출_금액  512626 non-null  int64
 13  시간대_11~14_매출_금액  512626 non-null  int64
 14  시간대_14~17_매출_금액  512626 non-null  int64
 15  시간대_17~21_매출_금액  512626 non-null  int64
 16  시간대_21~24_매출_금액  512626 non-null  int64
 17  남성_매출_금액         512626 non-null  int64
 18  여성_매출_금액         512626 non-null  int64
 19  연령대_10_매출_금액     512626 non-null  int64
 20  연령대_20_매출_금액     512626 non-null  int64
 21  연령대_30_매출_금액     512626 non-null  int64
 22  연령대_40_매출_금액     512626 non-null  int64
 23  연령대_50_매출_금액     512626 non-null  int64
 24  연령대_60_이상_매출_금액  512626 non-null  int64
 25  점포_수             512626 non-null  int64
 26  유사_업종_점포_수       512626 non-null  int64
 27  개업_율             512626 non-null  int64
 28  개업_점포_수          512626 non-null  int64
 29  폐업_률             507407 non-null  float64
 30  폐업_점포_수          512626 non-null  int64
 31  프랜차이즈_점포_수       512626 non-null  int64
dtypes: float64(1), int64(29), object(2)
memory usage: 125.2+ MB

In [28]:
df.isna().sum().sort_values(ascending = False)[:5]

폐업_률          5219
기준_년분기_코드        0
상권_구분_코드_x       0
폐업_점포_수          0
개업_점포_수          0
dtype: int64